body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*
Walkaround for a modal issue
https://github.com/Semantic-Org/Semantic-UI-CSS/issues/40#issuecomment-372034323
*/
.ui.active.dimmer.modals.transition {
  display: flex !important;
  display: -ms-flexbox !important;
}

/* customize inverted menu */
.ui.secondary.inverted.pointing.menu {
  border-color: transparent;
}
